  
* {
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    Text-align: center;
     Margin: 0 auto;

}

main {
    display: flex;
    justify-content: center;
    /* alinhamento na horizontal */
    align-items: center;
    /* alinhamento na vertical */
    padding: 50px 0px;
    /* 50px para cima e para baixo, 0px para laterais */
    Text-align: center;
     Margin: 0 auto;
  
}

.logo {
    width: 150px;
}

.login {
    width: 300px;
    border: 1px solid #ccc;
    padding: 40px 20px;
    margin: 30px;
}

.login form input {
    width: 100%;
    height: 30px;
    margin: 7px 0;
    padding: 5px;  
    text-align: center;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.login form button {
    background-color: #0095f6;
    color: #fff;
    padding: 7px 10px; /*atalho p5*/
    margin: 20px 0;     /*atalho m20-0*/
    width: 100%;
    border: none;
    }